$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 100px)";

@media #{$BREAKPOINT-MOBILE-LAND} {
    h2{
        margin: 1rem;
        text-align: center;
    }
    .titleExperiences{
        top: -2rem;
        position: relative;
        margin: 1rem;
    }
    .titleFormations {
        top: -8rem;
        position: relative;
        margin: 1rem;
    }
    .cursus{
        overflow: auto;
        height: 20rem;
        top: -6rem;
        position: relative;
    }
    .grid_item{
        display: grid;
        margin: 2rem 4rem;
    }
    .grid_title{
        font-size: 1.2rem;
        font-weight: 800;
    }
    .grid_date {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }
    .grid_location {
        font-size: 1rem;
        font-weight: 400;
    }
    .infos-formations{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 1rem;
        line-height: 3rem;
        border-bottom: ridge 0.4rem $color-3;
    }
    
}
@media #{$BREAKPOINT-DESK} {
    .titleFormations {
        top: 6rem;
        position: relative;
    }
    .titleExperiences{
        position: relative;
        top: 12rem;
    }
    .cursus {
        top: 8rem;
        height: 20rem;
        background-color: $transparent-3;
    }
    .infos-formations {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 1rem;
        line-height: 3rem;
        border-bottom: ridge 0.4rem $color-3;

    }
}