$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 100px)";

@media #{$BREAKPOINT-MOBILE-LAND} {
    .interests-bg{
        position: relative;
        top: 87.7rem;
        background-color: rgba(80, 187, 253, 0.5921568627);
        width: 26.5rem;
        height: 20rem;
        left: -2rem;
    }
    .interets{
        background-color: $transparent-3;
        position: relative;
        height: 15rem;
        top: 3rem;
    }
    .InterestTitle {
        position: relative;
        top: -2rem;
    }
    .interet{
        position: relative;
        top: 1rem;
        text-align: left;
        color: $color-2;
        font-weight: 600;
        line-height: 2rem;
        overflow: auto;
        height: 10rem;
    }
}
@media #{$BREAKPOINT-TABLET} {
    .interests-bg{
        top: 81.7rem;
        width: 110%;
        left: -2rem;
    }
    .InterestTitle{
        top: 2rem;
    }
    .interet{
        left: 4rem;
    }
}
@media #{$BREAKPOINT-DESK} {
    .interests-bg{
        position: relative;
        top: -4rem;
        background-color: transparent;
        width: 20rem;
        height: 10rem;
        left: 1rem;
    }
    .interets {
        position: relative;
        background-color: transparent;
        top: -6rem;
        left: 1rem;
        height: 8rem;
    }

    .interet {
        position: relative;
        top: 2rem;
        text-align: left;
        color: $white;
        font-weight: 600;
        line-height: 3rem;
        height: 8rem;
    }
    .InterestTitle{
        position: relative;
        top: 1rem;
    }
}
