/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$BREAKPOINT-SMALL-MOBILE-PORT: "only screen and (orientation: portrait) and (min-width: 300px)";
$BREAKPOINT-SMART-MOBILE-PORT: "only screen and (orientation: portrait) and (min-width: 400px)";

$BREAKPOINT-TABLET-PORT: "only screen and (orientation: portrait) and (min-width: 600px)";

$BREAKPOINT-SMALL-MOBILE-LAND: "only screen and (orientation: landscape) and (min-width: 600px) and (max-height: 312px)";
$BREAKPOINT-SMART-MOBILE-LAND: "only screen and (orientation: landscape) and (min-width: 600px) and (max-height: 412px)";

$BREAKPOINT-TABLET-LAND: "only screen and (orientation: landscape) and (min-width: 975px)";
$BREAKPOINT-LAPTOP: "only screen and (min-width: 1200px)";
$BREAKPOINT-DESK: "only screen and (min-width: 1600px)";

@media #{$BREAKPOINT-SMALL-MOBILE-PORT} {
    .interests-bg {
            position: relative;
            top: 87.2em;
            background-color: rgba(80, 187, 253, 0.5921568627);
            width: 26rem;
            height: 20rem;
            left: -2rem;
        }
    
        .interets {
            background-color: $transparent-3;
            position: relative;
            height: 15rem;
            top: 3rem;
        }
    
        .InterestTitle {
            position: relative;
            top: -2rem;
        }
    
        .interet {
            position: relative;
            top: 1rem;
            text-align: left;
            color: $color-2;
            font-weight: 600;
            line-height: 2rem;
            overflow: auto;
            height: 10rem;
        }
}

@media #{$BREAKPOINT-SMART-MOBILE-PORT} {
    .interests-bg {
        position: relative;
        top: 87.2em;
        background-color: rgba(80, 187, 253, 0.5921568627);
        width: 26rem;
        height: 20rem;
        left: -2rem;
    }

    .interets {
        background-color: $transparent-3;
        position: relative;
        height: 15rem;
        top: 3rem;
    }

    .InterestTitle {
        position: relative;
        top: -2rem;
    }

    .interet {
        position: relative;
        top: 1rem;
        text-align: left;
        color: $color-2;
        font-weight: 600;
        line-height: 2rem;
        overflow: auto;
        height: 10rem;
    }
}

@media #{$BREAKPOINT-SMALL-MOBILE-LAND} {
    .interests-bg {
        position: relative;
        top: 87.2em;
        background-color: rgba(80, 187, 253, 0.5921568627);
        width: 26rem;
        height: 20rem;
        left: -2rem;
    }

    .interets {
        background-color: $transparent-3;
        position: relative;
        height: 15rem;
        top: 3rem;
    }

    .InterestTitle {
        position: relative;
        top: -2rem;
    }

    .interet {
        position: relative;
        top: 1rem;
        text-align: left;
        color: $color-2;
        font-weight: 600;
        line-height: 2rem;
        overflow: auto;
        height: 10rem;
    }
}

@media #{$BREAKPOINT-SMART-MOBILE-LAND} {
    .interests-bg {
        position: relative;
        top: 87.2em;
        background-color: rgba(80, 187, 253, 0.5921568627);
        width: 26rem;
        height: 20rem;
        left: -2rem;
    }

    .interets {
        background-color: $transparent-3;
        position: relative;
        height: 15rem;
        top: 3rem;
    }

    .InterestTitle {
        position: relative;
        top: -2rem;
    }

    .interet {
        position: relative;
        top: 1rem;
        text-align: left;
        color: $color-2;
        font-weight: 600;
        line-height: 2rem;
        overflow: auto;
        height: 10rem;
    }
}

@media #{$BREAKPOINT-TABLET} {
.interests-bg {
        top: 81.2rem;
        width: 110%;
        left: -2rem;
    }

    .InterestTitle {
        top: 2rem;
    }

    .interet {
        left: 4rem;
    }
}

@media #{$BREAKPOINT-TABLET-LAND} {
    .interests-bg{
        top: 77.6rem;
        width: 61.5rem;
    } 
}

@media #{$BREAKPOINT-LAPTOP} {
    .interests-bg {
        position: relative;
        top: -4rem;
        background-color: transparent;
        width: 20rem;
        height: 10rem;
        left: 1rem;
    }

    .interets {
        position: relative;
        background-color: transparent;
        top: -6rem;
        left: 1rem;
        height: 8rem;
    }

    .interet {
        position: relative;
        top: 2rem;
        text-align: left;
        color: $white;
        font-weight: 600;
        line-height: 3rem;
        height: 8rem;
    }

    .InterestTitle {
        position: relative;
        top: 1rem;
    }
}

@media #{$BREAKPOINT-DESK} {
    .interests-bg {
            position: relative;
            top: -4rem;
            background-color: transparent;
            width: 20rem;
            height: 10rem;
            left: 1rem;
        }
    
        .interets {
            position: relative;
            background-color: transparent;
            top: -6rem;
            left: 1rem;
            height: 8rem;
        }
    
        .interet {
            position: relative;
            top: 2rem;
            text-align: left;
            color: $white;
            font-weight: 600;
            line-height: 3rem;
            height: 8rem;
        }
    
        .InterestTitle {
            position: relative;
            top: 1rem;
        }
}
