h1{
    margin: 1rem;
}
.Pcontact{
    
    position: relative;
    top: 10rem;
    color: $white;
    text-align: center;
}
.Pcontact2{
    position: relative;
    top: 10rem;
    text-align: center;
    color: $white;
}
.Pcontact2:hover {
    color: red;
    background: $transparent-1;
}
.contactForm{
    position: relative;
    left: 0rem;
    top: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    .putForm{
        margin-top: 1rem;
        width: 20rem;
        height: 2rem;
    }
    .msgForm{
        margin-top: 2rem;
        height: 5rem;
        width: 20rem;
    }
    .sendForm{
        position: relative;
        top: 4rem;
        padding: 1.2em 2em;
        background: $color-1;
        border: none;
        border-radius: .5rem;
        color: $color-2;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .2rem;
        text-align: center;
        margin: 0 Auto;
        outline: none;
        cursor: pointer;
        transition: .2s ease;
        box-shadow: -6px -6px 14px $color-1,
            -6px -6px 10px $color-1,
            6px 6px 8px rgba(255, 255, 255, .075),
            6px 6px 10px rgba(0, 0, 0, .15);
    }
    .sendForm:hover {
    background: $color-3;
    color: $white;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: .4rem;
    box-shadow: -2px -2px 6px $color-1,
        -2px -2px 4px $color-1,
        2px 2px 2px rgba(255, 255, 255, .05),
        2px 2px 4px rgba(0, 0, 0, .1);
    transition: 0.4 ease;
    }
    .sendForm:active {
        box-shadow: inset -2px -2px 6px $color-1,
            inset -2px -2px 4px $color-1,
            inset 2px 2px 2px rgba(255, 255, 255, .075),
            inset 2px 2px 4px rgba(0, 0, 0, .15);
    }
    
}
.putForm::placeholder {
    color: $color-2;
    font-size: 1.2em;
    font-weight: 600;
}
.msgForm::placeholder {
    color: $color-2;
    font-size: 1.2em;
    font-weight: 600;
}

@media (min-width: 100px) and (max-width: 600px) {
    .Pcontact{
        text-align: center;
        margin: 0 auto;
        width: 20rem !important;
    }
    .Pcontact2 {
        width: 20rem;
        position: relative;
        top: 10rem;
        text-align: center;
        margin: 0 auto;
        color: $white;
    }
    .contactForm {
        position: relative;
        top: 12rem;
        left: 1rem;
        margin: 0 auto;
        justify-items: center;
    }
    .sendForm {
        top: 10rem !important;
    }
    .MenuBottom {
        left: -3rem;
    }
    .MenuBottom:hover {
        left: -2rem !important; 
    }
}
@media (min-width: 601px) and (max-width: 1100px) {
    .sendForm {
            top: 8rem !important;
    }
    .Pcontact2 {
        width: 20rem;
        position: relative;
        top: 10rem;
        text-align: center;
        margin: 0 auto;
        color: $white;
    }
}