/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 100px)";
@media #{$BREAKPOINT-MOBILE-LAND} {
    .grid-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            background-color: $transparent-2;
        }
    
        .sidebar {
            padding: 1.5rem;
            background-color: transparent-2;
            color: $white;
            text-align: center;
            padding: 1.5rem;
            height: 130%;
        }
   
}
@media #{$BREAKPOINT-DESK} {
.grid-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    }

    .sidebar {
        padding: 1.5rem;
        background-color: $transparent-2;
        padding: 1.5rem;
        height: 100%;
    }

    .mainCv {
        background-color: $transparent-3;
    }
}