.jams{
    position: relative;
    top: 25rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.jam{
    margin-bottom: 10rem;
}
.jam_title{
    position: relative;
    top: -26rem;
    color: $color-1;
}
.jam_text{
    color: $white;
    text-align: center;
    font-size: 1.2rem;
}
.jam_pitch{
    position: relative;
    color: $white;
    top: 15rem;
    text-align: center;
    font-size: 1.3rem;
}
@media (min-width: 100px) and (max-width: 600px) {
     iframe{
       width: 60% !important;
       height: 60% !important;
       position: relative;
       display: flex;
       align-content: center;
       margin: 0 auto;
    }
    .jam_pitch{
        width: 20rem;
        text-align: center;
        position: relative;
        align-content: center;
        margin: 0 auto;
    }
    .jam_text {
        width: 20rem;
        text-align: center;
        position: relative;
        align-content: center;
        margin: 0 auto;
    }
}
@media (min-width: 601px) and (max-width: 1100px) {
    iframe {
        width: 70% !important;
        height: 70% !important;
        position: relative;
        display: flex;
        align-content: center;
        margin: 0 auto;
    }
    .jam_pitch {
        width: 30rem;
        text-align: center;
        position: relative;
        align-content: center;
        margin: 0 auto;
    }
    .jam_text{
        width: 30rem;
        text-align: center;
        position: relative;
        align-content: center;
        margin: 0 auto;
    }
}