.selected{
   margin: 0 auto;
   display: flex;
   align-items: center;
}
.overlay__text{
    position: relative;
    top: 2rem;
    left: 0rem;
}
.control-dots{
    position: relative;
    top: 23rem;
    display: flex;
    justify-content: center;
}
.overlay__title{
    position: relative;
    top: 2rem;
    
}